extends layout

block content
	h1 Pet Poring
		p
		| Step Counter:
		span#stepCounter  NAN

	button.btn.btn-primary#initStepGame(type='button') Start Treasure Hunt

	button.btn.btn-primary#queryStats(type='button') Stats
