// Modal
#checkStats.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalTitle2', aria-hidden='true')
	.modal-dialog
		.modal-content
			// Modal Header
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4#modalTitle2.modal-title
					| Stats
			// Modal Body
			.modal-body
				form(role='form')
					.form-group
						label(for='totalStepCountLabel') Total Steps Walked:
						p#totalStepCount NAN
					//- .checkbox
					//- 	label
					//- 		input(type='checkbox')
					//- 		|  Check me out
					//- button.btn.btn-default(type='submit') Submit
			// Modal Footer
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					| Close