body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*  ______________
___/ Input Modal  \_______________*/

#errormessagetxt {
  color: #a94442;
}


/*  ___________________
___/ Poring Animation  \_______________*/

#petprofilepic {
    height: 120px;
    width: 105px;
    padding: 0;
    display: block;
    background-color: beige;
    /* background-image: url(../img/poring_walk_105x120_right.png); */
    animation: poringwalk 1s steps(8) infinite; */
}

@keyframes poringwalk {
 from { background-position: 0px; }
 to { background-position: 840px; }
}
