body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.progress {
	height: 30px;
}

/*  ______________
___/ Input Modal  \_______________*/
	a
#errormessagetxt {
	color: #a94442;
}


/*  ___________________
___/ Poring Animation  \_______________*/

#petprofilepic {
	margin: 0 auto;
	height: 120px;
	width: 105px;
	padding: 0;
	display: block;
	background-color: beige;
	/* background: url(../img/poring_walk_105x120_right.png); */
	animation: poringwalk 1s steps(8) infinite; */
}

@keyframes poringwalk {
	from { background-position: 0px; }
	to { background-position: 840px; }
}

/*  ________________________
___/ Mini Poring Animation  \_______________*/

.icon.mini-poring {
	height: 30px;
	width: 27px;
	padding: 0;
	display: block;
	background: url(../img/poring_walking_30x30.png);
	animation: miniporingwalk 1s steps(8) infinite; */
}

@keyframes miniporingwalk {
	from { background-position: 0px; }
	to { background-position: -210px; }
}

/*  __________________
___/ Chest Animation  \_______________*/
#chestget {
	margin: 0 auto;
	width: 96px;
	height: 96px;
	background: url("../img/chest-red-scaled.png");
	position: relative;
	animation: playv 2s steps(4) forwards, playh 0.1667s steps(3) forwards;
}

@-webkit-keyframes playv {
	0% {
		background-position-y: 0px;
	}
	100% {
		background-position-y: -384px;
	}
}

@-webkit-keyframes playh {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: -288px;
	}
}

@keyframes playv {
	0% {
		background-position-y: 0px;
	}
	100% {
		background-position-y: -384px;
	}
}

@keyframes playh {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: -288px;
	}
}

